<div class="page-header">
    <h1>Category - {{category}}</h1>
</div>
<tr ng-repeat="phrase in phrases | orderBy: '-created_at'" height="40px">
    <td>

    <span class="glyphicon glyphicon-thumbs-down"
          ng-click="decrementDownvotes(phrase)"></span>
        {{phrase.upvotes}}
    </td>
    <td>
                 <span class="glyphicon glyphicon-thumbs-up"
                       ng-click="incrementUpvotes(phrase)"></span>

    </td>
    <td>
        {{phrase.phrase}}
    </td>

    <td>
        <a ng-href="/users/{{phrase.user.username}}/phrases">{{phrase.user.username}}</a>
    </td>
    <td>
        <a href="/phrases/{{phrase.id}}">Comments</a>
    </td>
</tr>